@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600");

.page {
  width: 100%;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #78a894;
  overflow: clip;
}

main {
  flex-direction: column;
  width: 100%;
}

main > div {
  margin-left: 50px;
  max-width: 690px;
}

main h2 span {
  color: #bf7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 0px 0;
  font-size: small;
}

.resizeimage img {
  width: 100%;
  position: fixed;
  z-index: -1; /*最背面に設定*/
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.myimg img {
  display: flex;
  border-radius: 25% 10%;
  width: 20%;
  box-shadow: 10px 10px 0px 0 rgba(214, 219, 166, 0.822);
}

.myimg {
  display: flex;
}

.myimg h3 {
  margin-left: 30px;
  margin-top: 0px;
}

.myimg li {
  line-height: 1.5;
  font-weight: 200;
  margin: 0px 0;
  font-size: small;
}

.text1,
.text2 {
  max-width: 500px;
}

.text2 li {
  line-height: 1.5;
  font-weight: 200;
  margin: 10px 0;
  font-size: small;
  color: rgb(218, 149, 59);
}

.text2 p {
  margin-bottom: 50px;
}

.modal_wrap input {
  display: none;
}

.modal_overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.modal_trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal_content {
  align-self: center;
  width: 60%;
  padding: 30px 30px;
  box-sizing: border-box;
  background: #fff;
  line-height: 1.4em;
  transition: 0.5s;
}

.modal_content p {
  margin-top: 20px;
}

.modal_wrap input:checked ~ .modal_overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.modal_wrap input:checked ~ .modal_overlay .modal_content {
  transform: translateY(20px);
}

.open_button {
  color: #78a894;
  background: linear-gradient(transparent 60%, #6bb5ff90 90%);
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  font-size: small;
}

.open-button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px); /*下に動く*/
}

.modal_title2 {
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.modal_title2::before,
.modal_title2::after {
  content: "";
  position: absolute;
  bottom: 0;
}

.modal_title2:before {
  border-bottom: 4px solid #6bb6ff;
  width: 100%;
}
.modal_title2:after {
  border-bottom: 4px solid #c8e4ff;
  width: 100%;
}

.typing1,
.typing2,
.typing3 {
  width: 15ch; /*文字の長さ*/
  overflow: hidden; /*必須*/
  white-space: nowrap; /*必須*/
  animation: typing 3s steps(20), step-end infinite alternate; /*アニメーション関連*/
}

@keyframes typing {
  from {
    width: 0;
  }
}
