<div class="page">
  <div class="resizeimage">
    <img src="/assets/back-img.jpg" alt="about-back" />
  </div>

  <app-header></app-header>
  <main>
    <div class="content">
      <h2>ABOUT<span> :: Job career</span></h2>
      <div class="myimg">
        <img src="/assets/oku.jpg" alt="Okuaoi" />
        <h3>
          PROFILE<br />
          <li>OkuAoi</li>
          <li>1996.11.6</li>
          <li>Woman</li>
        </h3>
        <h3>
          SKILL<br />
          <li>PMOアシスタント</li>
          <li>administrator</li>
          <li>Angular</li>
        </h3>
        <h3>
          <br />
          <li>HTML/SCSS</li>
          <li>JavaScript</li>
          <li>TypeScript</li>
        </h3>
        <h3>
          <br />
          <li>Androidアプリ（独学）</li>
          <li>C#(独学)</li>
        </h3>
      </div>
      <h3>PersonalHistory</h3>
      <p>
        2015年神奈川県立茅ヶ崎西浜高等学校卒業<br />
        2015年4月～2020年4月百貨店でのアパレル、事務職を経験<br />
        2020年6月～2021年11月AndroboNexus株式会社<br />
        2021年12月〜現在株式会社RealRise入社
      </p>
      <h3>EngineerCareer</h3>
      <div class="text">
        <p>
          <li>PMOアシスタント(Current work)</li>
          主に、PMの下で毎週開催されるお客様との会議に参加し、PMのタスク管理やスケジュール管理、開発メンバーの課題進捗管理などを行なっております。<br />
          また、会議で使用する資料作成やアジェンダの作成、開発メンバーのサポート、会議の議事録も行なっております。
          <li>アドミニストレーター(Current work)</li>
          開発メンバーの工数表の取りまとめやアカウントの管理、追加や申請作業を行なっております。
          また、お客様がご来社された際には、会議室の準備、会議室への案内、入館証の申請なども行なっております。
          <li>Angular</li>
          Angularのフレームワークを使用したWebアプリ開発をしておりました。<br />Angularの環境構築やWebアプリの開発、基本知識は一通り経験済みになります。
          <li>HTML/SCSS</li>
          Angularのフレームワークを使用した際に、HTML,SCSSを学習しました。基礎知<br />識は身につけ、デザインもアレンジすることができます。<br />
          <li>JavaScript/TypeScript</li>
          Webアプリ開発をしていた際に使用していた<br />言語になります。基本的な基礎は身についております。
          <li>Androidアプリ（独学）</li>
          Androidアプリの案件に携わる関係でAndroidアプリの環境構築、実機を使用し<br />た独学ではありますがオリジナルアプリの作成をしました。
          <li>C#(独学)</li>
          独学にて、C#の基礎知識の学習、C#を使用した名簿リスト<br />を作成し、基礎知識、簡単なC#を使用したものは作成できます。<br />
        </p>
      </div>
    </div>
  </main>
</div>
