<div class="page">
  <div class="resizeimage">
    <img src="/assets/back-img.jpg" alt="about-back" />
  </div>

  <app-header></app-header>

  <main>
    <div class="content">
      <h2>ABOUT<span> :: Job career</span></h2>
      <div class="myimg">
        <img src="/assets/takano.jpg" alt="takanoaoi" />
        <h3>
          PROFILE<br />
          <li>TakanoAoi</li>
          <li>1996.11.6</li>
          <li>Woman</li>
        </h3>
        <h3>
          SKILL<br />
          <li>Angular</li>
          <li>JavaScript</li>
          <li>TypeScript</li>
        </h3>
        <h3>
          <br />
          <li>Androidアプリ（独学）</li>
          <li>C#(独学)</li>
          <li>HTML</li>
        </h3>
        <h3>
          <br />
          <li>SCSS</li>
          <li>PMO</li>
          <li>Java</li>
        </h3>
      </div>
      <h3>PersonalHistory</h3>
      <p>
        2015年神奈川県立茅ヶ崎西浜高等学校卒業<br />
        2015年4月～2020年4月百貨店でのアパレル、事務職を経験<br />
        2020年6月～現在AndroboNexus株式会社に入社<br />
      </p>
       <h3>EngineerCareer</h3>
      <div class="text">
        <p>
          <li>Angular</li>
          Angularのフレームワークを使用したWebアプリ開発をしておりました。<br />Angularの環境構築やWebアプリの開発、基本知識は一通り経験済みになります。
          <li>JavaScript/TypeScript</li>
          JavaScript/TypeScriptに関しては、Webアプリ開発をしていた際に使用していた<br />言語になります。基本的な基礎は身についております。
          <li>Androidアプリ（独学）</li>
          Androidアプリの案件に携わる関係でAndroidアプリの環境構築、実機を使用し<br>た独学ではありますがオリジナルアプリの作成をしました。その為XMLの<br>基礎、Javaの基礎はある程度あります。<br>
          <li>C#(独学)</li>
          自社の勉強会に参加し、C#の基礎知識の学習、C#を使用した名簿リスト作成<br>をおこなっておりました。基礎知識、簡単なC#を使用したものは作成できます。<br>
          <li>HTML、SCSS</li>
          Angularのフレームワークを使用した際に、HTML,SCSSを学習しました。基礎知<br>識は身につけ、デザインもアレンジすることができます。<br>
          <li>Java</li>
          Andoroidアプリ開発の学習をしている際に、基礎知識を身につけました。<br>
          調べながらですが使いこなすことはできます。<br>
          <li>PMO</li>
          PMO担当の際は、エンジニアメンバーのサポート、会議の議事録、勤怠管理を<br>しておりましたので会議の際は議事録や、会議セッティングをスムーズに<br>おこなえます。
        </p>
      </div>
    </div>
  </main>
</div>
