<div class="page">
  <div class="resizeimage">
    <img src="/assets/back-img.jpg" alt="about-back" />
  </div>

  <app-header></app-header>
  <main>
    <div class="content">
      <h2 class="typing1">ABOUT<span> :: Job career</span></h2>
      <div class="myimg">
        <img src="/assets/oku.jpg" alt="Okuaoi" />
        <h3>
          PROFILE<br />
          <li>OkuAoi</li>
          <li>1996.11.6</li>
          <li>Woman</li>
        </h3>
        <h3>
          SKILL<br />
          <li>PMO、PMO補佐</li>
          <li>administrator</li>
          <li>Angular</li>
        </h3>
        <h3>
          <br />
          <li>HTML/SCSS</li>
          <li>JavaScript</li>
          <li>TypeScript</li>
        </h3>
        <h3>
          <br />
          <li>Androidアプリ（独学）</li>
          <li>C#(独学)</li>
        </h3>
      </div>
      <h3 class="typing2">PersonalHistory</h3>
      <div class="text1">
        <p>
          ＜学歴＞ <br />
          ・2015年3月 神奈川県立茅ヶ崎西浜高等学校卒業<br />

          ＜職歴＞ <br />
          転職回数：9社<br />
          ・2015年4月～2020年4月接客業をメインに百貨店でのアパレル、事務職を経験<br />
          ・2020年6月～2021年11月AndroboNexus株式会社（SES）<br />
          ・2021年12月〜2023年10月株式会社RealRise（SES）<br />
          ・2023年11月〜JAMP ビジネス・イノベーション株式会社（自社開発）入社<br />
        </p>

        <div class="modal_wrap">
          <input id="trigger" type="checkbox" />
          <div class="modal_overlay">
            <label for="trigger" class="modal_trigger"></label>
            <div class="modal_content">
              <h3 class="modal_title2">転職回数について</h3>
              <p>
                高校卒業後、元々人と話すことが好きだったため接客業で人と関わる仕事がしたいと思い、接客のお仕事をメインで行なってきました。<br />
                仕事をしていく中で、接客業以外の事務作業などに興味を持ちまた、人の役に立ちたいという思いから色々な仕事を経験して、
                その中で自分に一番あった仕事を探してみたい、と思い今に至ります。<br />
                そのため、転職回数が多くマイナスなイメージになるかと思いますが、接客業で培った、「常に相手の立場になって物事を考える」、
                「常に先読みし、何を求めているか、どういったことを望んでいるか」を常に考え、心がけることが身についているため、
                接客業からIT業界にキャリアチェンジした際に、その経験がとても生かされております。<br />
                また、PMOという立場を経験し、メンバーのサポートや課題管理、スケジュール管理をすることで本来の人の役に立ちたい、
                という部分が体感でき、自身のやるべきことがやっと見つけることができました。
              </p>
            </div>
          </div>
        </div>

        <label for="trigger" class="open_button">※転職回数について</label>
      </div>
      <h3 class="typing3">EngineerCareer</h3>
      <div class="text2">
        <p>
          <li>PMO</li>
          各チームの進捗管理や会社としての課題、取り組みについて検討し、日々案出しを行なっておりました。
          また、RPAの導入のため、Winactorを使用して業務の自動化を図り、検証やテストを行いました。
          <li>PMO補佐</li>
          主に、PMの下で毎週開催されるお客様との会議に参加し、PMのタスク管理やスケジュール管理、開発メンバーの課題進捗管理などを行なっておりました。<br />
          また、会議で使用する資料作成やアジェンダの作成、開発メンバーのサポート、会議の議事録も経験済みです。
          <li>アドミニストレーター</li>
          開発メンバーの工数表の取りまとめやアカウントの管理、追加や申請作業を行なっておりました。
          また、お客様がご来社された際には、会議室の準備、会議室への案内、入館証の申請などもしておりました。
          <li>Angular</li>
          Angularのフレームワークを使用したWebアプリ開発をしておりました。<br />Angularの環境構築やWebアプリの開発、基本知識は一通り経験済みになります。
          <li>HTML/SCSS</li>
          Angularのフレームワークを使用した際に、HTML,SCSSを学習しました。基礎知<br />識は身につけ、デザインもアレンジすることができます。<br />
          <li>JavaScript/TypeScript</li>
          Webアプリ開発をしていた際に使用していた<br />言語になります。基本的な基礎は身についております。
          <li>Androidアプリ（独学）</li>
          Androidアプリの案件に携わる関係でAndroidアプリの環境構築、実機を使用し<br />た独学ではありますがオリジナルアプリの作成をしました。
          <li>C#(独学)</li>
          独学にて、C#の基礎知識の学習、C#を使用した名簿リスト<br />を作成し、基礎知識、簡単なC#を使用したものは作成できます。<br />
        </p>
      </div>
    </div>
  </main>
</div>
