<div class="page">
  <div class="resizeimage">
    <img src="/assets/back-img.jpg" alt="work-img" />
  </div>

  <app-header></app-header>

  <main>
    <div class="content">
      <h2 class="typing4">WORK <span>:: OriginalDesign</span></h2>
      <h3>Androidアプリ開発</h3>
      <p>
        Andoroidアプリ開発の学習をしている際に、オリジナルアプリ<br />として
        「購入品管理アプリ」を作成いたしました。
      </p>
      <h4>AppOverview</h4>
      <p>
        新規作成で情報を登録し、購入品管理画面で購入した商品をブランドや産地で登録ができます。登録できるかつ、登録した商品の削除やリスト表示、検索ができる仕様となっております。また、このアプリを管理する人がいる設定で考え、管理者ページという画面を作成しました。この画面では、新規作成したアプリ登録者の参照やパスワード変更が可能、購入商品管理画面同様に登録情報の削除、検索、一覧表示ができる仕様となっております。
      </p>

      <h4>
        DesignPoint
        <li>目に優しい色使い</li>
        <li>シンプルかつ分かりやすく</li>
        <li>簡単操作で使いやすい</li>
      </h4>

      <h4>
        GitHub
        <li>
          <a href="https://github.com/aoi0707/Android_app"
            >https://github.com/aoi0707/Android_app</a
          >
        </li>
      </h4>
    </div>
    <div class="android-img">
      <img src="/assets/main.jpg" width="45%" alt="" />
      <img src="/assets/signin.jpg" width="45%" alt="" />
      <img src="/assets/login.jpg" width="45%" alt="" />
      <img src="/assets/page.jpg" width="45%" alt="" />
    </div>
    <div class="android-imgs">
      <img src="/assets/Purchased.jpg" width="45%" alt="" />
      <img src="/assets/serch.jpg" width="45%" alt="" />
      <img src="/assets/serchs.jpg" width="45%" alt="" />
      <img src="/assets/name.jpg" width="45%" alt="" />
    </div>

    <div class="android-imges">
      <img src="/assets/list.jpg" width="45%" alt="" />
      <img src="/assets/lists.jpg" width="45%" alt="" />
      <img src="/assets/menu.jpg" width="45%" alt="" />
      <img src="/assets/menu2.jpg" width="45%" alt="" />
    </div>

    <div class="content">
      <h3>Angular webアプリ開発</h3>
      <p>
        Angularの学習をしている際に、オリジナルWebアプリ<br />として
        「StopWatchアプリ」を作成いたしました。<br />
      </p>
      <h4>
        DesignPoint
        <li>英文や北欧をイメージした背景</li>
        <li>ボタンをシンプルかつホバーで色変更</li>
        <li>タイマー表示部分は薄いBlackで目に優しく</li>
      </h4>

      <h4>
        GitHub
        <li>
          <a href="https://github.com/aoi0707/stopwatch"
            >https://github.com/aoi0707/stopwatch</a
          >
        </li>
      </h4>
    </div>
    <div class="stopwatch-img">
      <img src="/assets/stopwatchs-top.jpg" width="200%" alt="stopwatchs-top" />
      <img
        src="/assets/stopwatch-timer.jpg"
        width="200%"
        alt="stopwatch-timer"
      />
      <img
        src="/assets/stopwatch-timer-start.jpg"
        width="200%"
        alt="stopwatch-timer-start"
      />
    </div>
  </main>
</div>
