@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600");

.page {
  width: 100%;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #5d967e;
  overflow: clip;
}

main {
  flex-direction: column;
  width: 100%;
}

main > div {
  margin-left: 50px;
  max-width: 600px;
}

main h2 span {
  color: #bf7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
  font-size: small;
}

.resizeimage img {
  width: 100%;
  position: fixed;
  z-index: -1; /*最背面に設定*/
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.content li {
  line-height: 1.5;
  font-weight: 200;
  margin: 10px 0;
  font-size: small;
  color: rgb(146, 111, 64);
}

.content h3 {
  width: 100%;
}

.stopwatch-img {
  padding-right: 50%;
}

.stopwatch-img img {
  margin-top: 38px;
}

.android-img {
  display: flex;
  padding-right: 50%;
}

.android-img img {
  margin-right: 38px;
  margin-top: 38px;
}

.android-imgs {
  display: flex;
  padding-right: 50%;
}

.android-imgs img {
  margin-right: 38px;
  margin-top: 38px;
}

.android-imges {
  display: flex;
  padding-right: 50%;
}

.android-imges img {
  margin-right: 38px;
  margin-top: 38px;
  margin-bottom: 38px;
}

.typing4 {
  width: 20ch; /*文字の長さ*/
  overflow: hidden; /*必須*/
  white-space: nowrap; /*必須*/
  animation: typing 3s steps(20), step-end infinite alternate; /*アニメーション関連*/
}

@keyframes typing {
  from {
    width: 0;
  }
}
